<nav class="fixed top-0 left-0 w-full z-50 glass">

  <div class="flex justify-between items-center px-10 py-5">

    <!-- Logo -->

    <h1 class="text-3xl font-bold text-primary">
      Raju Bandam
    </h1>

    <!-- Navigation -->

    <ul class="hidden md:flex gap-10 text-sm font-medium">

      <li>
        <a href="#about" class="hover:text-primary transition">
          About
        </a>
      </li>

      <li>
        <a href="#projects" class="hover:text-primary transition">
          Projects
        </a>
      </li>

      <li>
        <a href="#experience" class="hover:text-primary transition">
          Experience
        </a>
      </li>

      <li>
        <a href="#contact" class="hover:text-primary transition">
          Contact
        </a>
      </li>

    </ul>

  </div>

</nav>