
<section id="home" class="hero-section">

  <!-- Background Glow -->
   

  <div class="top-glow"></div>
  <div class="bottom-glow"></div>

  <div class="hero-container">

    <!-- LEFT SIDE -->

    <div class="hero-content">

      <p class="hero-subtitle">
        FULL STACK ENGINEER
      </p>

      <h1 class="hero-title">
        Building scalable enterprise applications with
        <span>
          Java, Angular & React
        </span>
      </h1>

      <p class="hero-description">
        I develop modern, high-performance applications focused on clean architecture, scalable backend systems, and exceptional user experiences.
      </p>

      <!-- BUTTONS -->

      <div class="hero-buttons">

<a href="#projects" class="primary-btn">
  View Projects
</a>

<a
  href="Raju_Bandam.pdf"
  target="_blank"
  class="secondary-btn"
>
  📄 View Resume
</a>

      </div>

      <!-- TECH STACK -->

      <div class="tech-stack">

        <!-- <div
          *ngFor="let tech of technologies"
          class="tech-badge"
        >
          {{ tech }}
        </div> -->

      </div>

    </div>

    <!-- RIGHT SIDE -->

    <div class="hero-image-section">

      <div class="profile-card">

        <img
          src="profilee.png"
          alt="Raju profile"
          class="profile-image"
        />

      </div>

      <!-- Floating Cards -->

    </div>

  </div>

</section>